@model CiberGestion.Dominio.Entidade.Login


@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador :: CiberGestion</title>

    <script src=@Url.Content("~/assets/js/jquery-2.1.3.min.js")></script>
    <script src=@Url.Content("~/assets/js/vendor/bootstrap-3.3.2.min.js")></script>
    <script src=@Url.Content("~/assets/js/Geral.js")></script>
    <!-- Favicon -->
   

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")

   

</head>
<body>

    @using (@Html.BeginForm("Acessar","Login"))
    { 
         <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading" style="padding: 30px; position: relative; background: #fff;">
                        <img src=@Url.Content("~/assets/img/logo.png") style="width: 100%;" class="logo" id="logo-login" />
                    </div>
                    <div class="panel-body">
                        <form id="form-login">
                            <fieldset>
                                <p><input type="text" value="@Model.LoginUser" name="LoginUser" maxlength="20" class="form-control" placeholder="Login" /></p>
                                <p><input type="password" value="@Model.Senha" name="Senha" maxlength="50" class="form-control" placeholder="Senha" /></p>
                                <input type="submit" name="btnEntrar" value="Entrar" class="btn btn-lg btn-primary btn-block" />
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:350px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close fechar" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body" id="myModalTexto">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default fechar" data-dismiss="modal">Fechar</button>
                </div>
            </div>
            <!-- /.modal-content -->

        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="loading"></div>
    <input type="hidden" value="@Model.Mensagem" id="mensagemLogin" />
    }
</body>
</html>
